<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7gp4C1c-XywTSt_d0mPBRH8fpmLiIJ-4</string>
	<key>GCM_SENDER_ID</key>
	<string>242572254520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yujinnee.QuokkaTodo</string>
	<key>PROJECT_ID</key>
	<string>quokkatodo</string>
	<key>STORAGE_BUCKET</key>
	<string>quokkatodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242572254520:ios:2413ed1975200dfcc435cd</string>
</dict>
</plist>